@{
    ViewBag.Title = "Analytics";
}

<partial name="_AdminPartial" />

<h2>Site Analytics</h2>

<div class="row text-center">

    <div class="col">
        <div class="card">
            <div class="card-header">
                Total Users Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.userTotal
                </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Volunteers Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.volTotal
                </h1>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Nonprofits Registered
            </div>
            <div class="card-body">
                <h1>
                    @ViewBag.orgTotal
                </h1>
            </div>
        </div>
    </div>

</div>

<br />

<div class="row text-center">

    <div class="col">
        <div class="card">
            <div class="card-header">
                Opportunities Posted
            </div>
            <div class="card-body">
                @ViewBag.oppTotal
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                Opportunity Sign Ups
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

</div>