@{
}

<center><h1> Welcome Back!</h1></center>
<div class="container">
    <div class="container">
        <div class="jumbotron" align="center">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="ListRoles">Manage Roles</a>
                    </div>
                    <div class="col-sm">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="ListUsers"> Manage All Users</a>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm">
                        <a class="nav-link text-dark">View Analytics</a>
                    </div>
                    <div class="col-sm">
                        <a class="nav-link text-dark"> Manage Opportunities</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
