@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VolunTEEN</title>
    @*Favicon link*@
    <link rel="icon" type="image/png" href="~/Images/volunteenLogo.png" />
    @*Bootswatch Theme*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
    @*Custom Site CSS*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*Font Awesome*@
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    @*JQuery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
          type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--gallery popups-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar text-white navbar-expand-sm navbar-toggleable-sm navbar-light bg-info box-shadow mb-3">
            <div class="container">
                @* 
                    This will be where the logo goes eventually
                    <img class="navbar-brand" style="width:5%; height:5%;" src="~/Images/volunteenLogo.png" /> 
                *@
                <a class="navbar-brand mb-0 h1 text-white fw-bolder" asp-area="" asp-controller="Home" asp-action="Index">VolunTEEN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn text-white" asp-area="" asp-controller="Opportunities" asp-action="List">Browse</a>
                        </li>

                        @if (signInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Volunteer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link btn text-white" asp-area="" asp-controller="Opportunities" asp-action="ViewApplications">Your Opportunities</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown" style="align-self: center;">
                                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="UserList">Manage Users</a>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Analytics">View Analytics</a>
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="ListRoles">Manage Roles</a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("Organization (Verified)") || User.IsInRole("Organization"))
                            {
                                <li class="nav-item dropdown" style="align-self: center;">
                                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Nonprofit
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Opportunities" asp-action="Index">Manage Opportunities</a>
                                        <a class="dropdown-item" asp-controller="Opportunities" asp-action="ManageApplicants">Manage Applicants</a>
                                    </div>
                                </li>
                            }

                        }

                        <li class="nav-item dropdown" style="align-self: center;">
                            <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButtonLearn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Learn
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="ExploreCauses">Explore Causes</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="VolunTEENBlog">The VolunTEEN Blog</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible">@TempData["message"]<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button></div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
            
        <div class="container">
            
            &copy; 2021 - VolunTEEN <!-- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
