@{

}

<h2 style="text-align: center">Register as a...</h2>

<div style="margin-top:2%" class="row">

    <div class="col">
        <a asp-area="Identity" asp-page="/Account/VolunteerRegister" class="btn">
            <div class="card btn-outline-primary" style="height:200px;">
                <div style="text-align: center; padding-top:5%" class="card-title"><h2>Volunteer</h2></div>
                <div style="text-align: center; padding-right:5%;" class="card-body"><p>Volunteers are always welcome to join our platform and connect with nonprofits for their next adventure</p></div>
            </div>
        </a>
    </div>

    <div class="col">
        <a asp-area="Identity" asp-page="/Account/NonprofitRegister" class="btn">
            <div class="card btn-outline-primary" style="height: 200px;">
                <div style="text-align: center; padding-top: 5%" class="card-title"><h2>Nonprofit</h2></div>
                <div style="text-align: center; padding-right:5%;" class="card-body"><p>Are you a not for profit organization looking to get your opportunities out to the public? Sign up today and connect with potential volunteers.</p></div>
            </div>
        </a>
    </div>

</div>