
@{
    ViewData["Title"] = "About Us";
}
<div>

    <h1 class="display-4" style="text-align:center;">About Us</h1>
    <div class="container">
        <div class="row align-items-center" style="margin-top:10px;">
            <div class="col-6">
                image
            </div>
            <div class="col-6" style="text-align:left;">
            <p>
                Hi, my name is Lexi Magnano and I am a high school student in Florida.
                For as long as I can remember, I have always tried to make a difference in the world.
                I started off donating my birthday gifts to a charity that I would personally select each year.
            </p>
            </div>
            
        </div>
        <div class="row align-items-center" style="margin-top:10px;">
            <div class="col-6"style="text-align:left;">
             <p>
                    Over the years, I have supported cat adoption centers, refugee support organizations, a charity helping after the 2015 earthquake in Nepal and an organization that rescues and rehabilitates elephants in northern Thailand.
                    In middle school, my brother and I started a program called SmartART that brings art and art history projects to the elderly in nursing homes and to homeless children in temporary housing.
                    We would invite our friends to join us for our workshops so they could experience this unique way to volunteer while having fun!
                </p>
            </div>
            <div class="col-6">
               image
            </div>
            
        </div>
        <div class="row align-items-center"style="margin-top:10px;">
            <div class="col-6">
                image
            </div>
            <div class="col-6" style="text-align:left;">
                <p>
                    I am also a founding member of JaxTHRIVE, a teen-led tutoring organization helping to provide refugee students with the support and resources they need to succeed in our community.
                    In thinking about the challenges I faced recruiting volunteers for my JaxTHRIVE and SmartART programs, I wondered whether other nonprofits might have similar difficulties with recruitment.
                    I reached out to several organizations and discovered that they also needed volunteers, but they had no way to publicize their needs. 
                </p>
            </div>
            
        </div>
        <div class="row align-items-center"style="margin-top:10px">
            <div class="col-6" style="text-align:left;">
            <p>On the other hand, I knew friends who were looking to get involved with their community in personally meaningful ways, but weren’t sure how to do so.
                    I saw this as an opportunity and realized that I had the ability to bridge this gap! I started an Instagram account where I would share volunteer opportunities that would interest students that they could perform either virtually or in person.
                    I set up partnerships with community-based organizations asking them to share their unmet needs and I would find them interested and motivated students. This is how VolunTEEN started!</p>
            </div>
            <div class="col-6">
                <p>
                    image
                </p>
            </div>
            
        </div>

   
    </div>
</div>
