
@{
    ViewData["Title"] = "Explore Causes";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Explore Causes</li>
</ol>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne">
                Advocacy & Human Rights
            </button>
        </h2>
        <div id="flush-collapseOne"
             class="accordion-collapse collapse show"
             aria-labelledby="flush-headingOne"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>40 million children below the age of 15 suffer from abuse and neglect.  </li>
                    <li>Approximately 27 million people are currently enslaved in the human trafficking trade around the world.  </li>
                    <li>More than 300,000 children under the age of 18 are being exploited as child soldiers in armed conflicts worldwide.  </li>
                    <li>Millions of people are displaced in regions like Darfur where ethnic cleansing and violent conflict occurs. The displaced are forced to rely on humanitarian relief. Humanitarian workers are often kidnapped and attacked, and relief trucks are looted.  </li>
                    <li>Several governments monitor their citizens’ Internet use and have censored or imprisoned them for freely expressing opinions online. People in China have been arrested and charged for using the Internet as a tool to spread human rights information.  </li>
                    <li>Armed conflict has killed 2 million children, disabled 4 - 5 million, left 12 million homeless, and orphaned more than 1 million in the past decade.  </li>
                    <li>There are approximately 246 million child laborers worldwide.  </li>
                    <li>Protestors of repressive governments across the Middle East and North Africa have been killed, beaten, and arrested by police in the streets for voicing their opinions of reforms.  </li>
                    <li>Throughout history, women have been denied the knowledge, means, and freedom to act in the best interest of themselves and their children.  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo">
                Animals
            </button>
        </h2>
        <div id="flush-collapseTwo"
             class="accordion-collapse collapse"
             aria-labelledby="flush-headingTwo"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>5–7 million companion animals are given to <span class="text-decoration-underline">animal shelters</span> each year. </li>
                    <li>There are 3,500 <span class="text-decoration-underline">animal shelters</span> in the United States.</li>
                    <li><span class="text-decoration-underline">No-kill shelters</span> can euthanize up to 10% of their animal population. </li>
                    <li>Pet <span class="text-decoration-underline">adoptions have decreased</span> 36% since the COVID-19 pandemic began. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree">
                Homelessness
            </button>
        </h2>
        <div id="flush-collapseThree"
             class="accordion-collapse collapse"
             aria-labelledby="flush-headingThree"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>500,000+ people in the US are homeless (and this number is increasing).</li>
                    <li>Approximately 34% of people without homes don’t have a safe place to live.</li>
                    <li>Every year 2.5 million children experience homelessness. That’s almost the entire population of Chicago.</li>
                    <li>One in every 30 children experiences homelessness every year in the U.S. Children are homeless in every city and state nationwide.</li>
                    <li>More than half of homeless veterans have a mental and/or physical disability.</li>
                    <li>There are nearly 37,085 homeless veterans in the country. Veterans are more likely than non-veterans to experience homelessness, especially if they have a low income, a mental health problem, or a history of substance abuse. Many also struggle with traumatic brain injuries (TBIs) or post-traumatic stress disorder (PTSD), both big risk factors for homelessness.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour">
                Refugees
            </button>
        </h2>
        <div id="flush-collapseFour"
             class="accordion-collapse collapse"
             aria-labelledby="flush-headingFour"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>There are 79.5 million people around the world who have been forcibly displaced—the highest figure ever recorded!</li>
                    <li>About 1% of the world's population is displaced.</li>
                    <li>50% of the world's refugees are children.</li>
                    <li>Having fled the danger of their home countries and languishing in limbo for months--or many times years--refugees enter the United States with next to nothing.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading5">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse5"
                    aria-expanded="false"
                    aria-controls="flush-collapse5">
                Elderly
            </button>
        </h2>
        <div id="flush-collapse5"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading5"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>Approximately 47 million seniors live in the US.</li>
                    <li>26% of older women live completely alone.</li>
                    <li>Research shows that lonely or isolated seniors are more likely to decline and die faster. One study found that older adults who reported feeling lonely had a 59% higher risk of mental and physical decline along with a 45% increase in their risk of death.</li>
                    <li>Seniors who live alone experience conditions such as chronic lung disease, arthritis, impaired mobility, and depression at higher rates than those with strong social support.</li>
                    <li>60% of households led by older Americans must choose between buying groceries or paying utility bills.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading6">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse6"
                    aria-expanded="false"
                    aria-controls="flush-collapse6">
                Poverty
            </button>
        </h2>
        <div id="flush-collapse6"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading6"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>The official poverty rate in 2020 was 11.4 percent, up 1.0% from 10.5 percent in 2019.</li>
                    <li>In 2020, there were 37.2 million people in poverty, approximately 3.3 million more than in 2019.</li>
                    <li>There are 2.2 billion children in the world, and 1 billion of them live in poverty</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading7">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse7"
                    aria-expanded="false"
                    aria-controls="flush-collapse7">
                Education
            </button>
        </h2>
        <div id="flush-collapse7"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading7"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>Over 70% of America's inmates cannot read above a 4th grade level.</li>
                    <li>1 in 4 children in America grow up without learning how to read.</li>
                    <li>Students who don't read proficiently by the 3rd grade are 4 times likelier to drop out of school.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading8">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse8"
                    aria-expanded="false"
                    aria-controls="flush-collapse8">
                Helping Other Kids
            </button>
        </h2>
        <div id="flush-collapse8"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading8"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>34% of people in poverty are children.</li>
                    <li>1 in 5 children struggle with learning disabilities and differences.</li>
                    <li>1 in 6 children in America live in poverty—making them the poorest age group in the country.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading9">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse9"
                    aria-expanded="false"
                    aria-controls="flush-collapse9">
                Fighting Hunger
            </button>
        </h2>
        <div id="flush-collapse9"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading9"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>795 million people around the world are hungry.</li>
                    <li>40 million Americans go hungry each year.</li>
                    <li>60% of households led by older Americans must choose between buying groceries or paying utility bills.</li>
                    <li>One in 8 families in America are hungry. That’s 12.3% of all U.S. households, including what economists call “the working poor” who earn about $25,000 a year for a family of four. Out of that estimated $2,017 a month, families need to pay for housing, utilities, child care, transportation, health care – and groceries.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading10">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse10"
                    aria-expanded="false"
                    aria-controls="flush-collapse10">
                Save the Planet
            </button>
        </h2>
        <div id="flush-collapse10"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading10"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>4.9 pounds of trash is created on average by each of us every day</li>
                    <li>47k trees could be saved if we all swapped out one roll of regular toilet paper for a recyclable roll.</li>
                    <li>200 years – is the average amount of time it takes for one plastic straw to decompose.</li>
                    <li>5.25 trillion – is the number of pieces of plastic polluting our oceans. Every piece of plastic ever made still exists, and only 9% has ever been recycled. We must take action now.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading11">
            <button class="accordion-button collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#flush-collapse11"
                    aria-expanded="false"
                    aria-controls="flush-collapse11">
                Support Our Troops
            </button>
        </h2>
        <div id="flush-collapse11"
             class="accordion-collapse collapse"
             aria-labelledby="flush-heading11"
             data-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>1 million people serve our country every day.</li>
                    <li>18 million veterans live in the US.</li>
                    <li>Every day, over a million people serve our country, helping protect us both at home and overseas.</li>
                    <li>Nearly 11% of homeless Americans are veterans.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
