@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Volunteer Management System</h1>
    <p>Pre-semester assignment digitech. </p>
    <p>Choose either Volunteers or Opportunities to get started</p>
    <a type="button" class="btn btn-outline-primary" asp-controller="Volunteers" asp-action="Index">Volunteers</a>
    <a type="button" class="btn btn-outline-secondary" asp-controller="Opportunities" asp-action="Index">Opportunities</a>
    <hr />



    <p class="mt-5 ml-lg-5 text-sm-right text-secondary text-muted">(whoops, this application is missing a few components)</p>
</div>
