
@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 px-lg-5">
    <div class="jumbotron">
        <h1 class="display-4">Become a volunteer</h1>
        <p class="lead">As a nonprofit, our core mission is to help teach empathy and social responsibility to young people.</p>
        <hr class="my-4">
        <p>We envision a more compassionate world, and believe that encouraging and making it easier for kids, teens, and families to engage in volunteer service builds empathy, compassion, communication, and teamwork.</p>
        <p class="lead">
            
            <a class="badge rounded-pill bg-info" style="text-decoration-line:none;" asp-area="" asp-controller="Opportunities" asp-action="Browse">Explore now</a>
        </p>
    </div>
    
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="m-0"></p></div>
    </div>




    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100 rounded">
                <div class="card-body">
                    <h2 class="card-title">Sign up</h2><hr />
                    <p class="card-text">Sign up today! Volunteers are always welcome to join our platform and connect with nonprofits for their next adventure</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-success btn-sm rounded" asp-area="Identity" asp-page="/Account/VolunteerRegister">Register</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Nonprofit</h2><hr />
                    <p class="card-text">Are you a not for profit organization looking to get your opportunities out to the public? Sign up today and connect with potential volunteers.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-success btn-sm rounded-1" asp-area="Identity" asp-page="/Account/NonprofitRegister">Register</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">About Us</h2><hr />
                    <p class="card-text">Learn more about VolunTEEN and why volunteering can positivley impact the world.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-info btn-sm" asp-area="" asp-controller="Home" asp-action="AboutUs">More Info</a></div>
            </div>
        </div>
    </div>



</div>