@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_HomeLayout";
}

<div style="width:70%;text-align:center;margin:auto;margin-top:3%;margin-bottom:5%;">
    <h1 class="display-4 fw-bolder" style="color: #00224B;">VolunTEEN</h1>
    <p class="lead fw-bold">As a nonprofit, our core mission is to help teach empathy and social responsibility to young people.</p>
    <p>We envision a more compassionate world, and believe that encouraging and making it easier for kids, teens, and families to engage in volunteer service builds empathy, compassion, communication, and teamwork.</p>
    <p class="lead">
        <a class="btn text-white rounded-pill bg-primary" style="text-decoration-line:none; background-color:aquamarine;" asp-area="" asp-controller="Opportunities" asp-action="List">VOLUNTEER NOW!</a>
</div>

<!-- Register Cards Only shown if user is not logged in -->
@if (!SignInManager.IsSignedIn(User))
{

    <div class="row gx-4 gx-lg-5">
        <div class="col-md-6 mb-5">
            <div class="card text-white bg-primary mb-3" style="text-align:center;">
                <div class="card-body">
                    <h2 class="card-title text-info fw-bold text-white">VOLUNTEERS</h2><hr />
                    <p class="card-text">Sign up today! Volunteers are always welcome to join our platform and connect with nonprofits for their next adventure.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-light btn-sm rounded" asp-area="Identity" asp-page="/Account/VolunteerRegister">Register</a></div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card text-white bg-success mb-3" style="text-align: center;">
                <div class="card-body">
                    <h2 class="card-title text-success fw-bold text-white">NONPROFITS</h2><hr />
                    <p class="card-text">Are you a nonprofit organization looking to get your opportunities out to the public? Sign up today and connect with potential volunteers.</p>
                </div>
                <div class="card-footer"><a class="btn btn-outline-light btn-sm rounded-1" asp-area="Identity" asp-page="/Account/NonprofitRegister">Register</a></div>
            </div>
        </div>

    </div>
}

<div class="card-deck row">
    <div class="card text-white border-0 mx-auto p-0 mb-4" style="width: 350px; background-color: #00224B; ">
        <img class="card-img opacity-25" src="/Images/LearnCard1.jpeg" alt="Card image 1" style="object-fit: cover; height: 350px;">
        <div class="card-img-overlay">
            <h5 class="card-title fw-bold m-4">EXPLORE CAUSES</h5>
            <p class="card-text m-4 mt-1">Don't know where to start? Take a minute to look into the different cause areas available here on VolunTEEN.</p>
            <a class="m-4 mt-1 btn btn-outline-primary text-decoration-none text-white" asp-controller="Home" asp-action="ExploreCauses">Explore Causes</a>
        </div>
    </div>

    <div class="card text-white border-0 mx-auto p-0 mb-4" style="width: 350px; background-color: #00224B; ">
        <img class="card-img opacity-25" src="/Images/LearnCard2.jpeg" alt="Card image 2" style="object-fit: cover; height: 350px; ">
        <div class="card-img-overlay">
            <h5 class="card-title fw-bold m-4">LEARN ABOUT US</h5>
            <p class="card-text m-4 mt-1">Curious about VolunTEEN as an organization? Learn more about why VolunTEEN was created and a bit about our mission.</p>
            <a class="m-4 mt-1 btn btn-outline-primary text-decoration-none text-white" asp-controller="Home" asp-action="AboutUs">About VolunTEEN</a>
        </div>
    </div>

    <div class="card text-white border-0 mx-auto p-0 mb-4" style="width: 350px; background-color: #00224B; ">
        <img class="card-img opacity-25" src="/Images/LearnCard3.jpeg" alt="Card image 3" style="object-fit: cover; height: 350px; ">
        <div class="card-img-overlay">
            <h5 class="card-title fw-bold m-4">FOLLOW OUR BLOG</h5>
            <p class="card-text m-4 mt-1">Want to stay “up-to-date” with VolunTEEN? Check out our VolunTEEN Blog!</p>
            <a class="m-4 mt-1 btn btn-outline-primary text-decoration-none text-white" asp-controller="Home" asp-action="VolunTeenBlog">The VolunTEEN Blog</a>
        </div>
    </div>
</div>
<hr/>
<div style="width:50%;text-align:center;margin:auto;margin-top:3%;margin-bottom:3%;">
    <h1 class="display-4 fw-bolder" style="color: #00224B;">Why VolunTEEN?</h1>
</div>

<div class="row mx-auto w-50">

    <div class="col col-auto">
        <img width="150" src="/Images/ShakingHands.png" alt="Hands shaking" class="p-0 mx-auto">
    </div>

    <div class="col">

        <p class="display-6 fw-bolder" style="color: #00224B;">Volunteers</p>
        <p class="lead fw-bold">Why should you use VolunTEEN to find your next opportunity?</p>
        <p>VolunTEEN offers a growing list of opportunities for volunteers to choose from with a wide range of different causes to support. Our easy to use platform allows volunteers to connect to an opportunity that really speaks to them, and it's all just a click away.</p>

    </div>



</div>


<div class="row mx-auto w-50">

    <div class="col col-auto">
        <img width="150" src="/Images/Globe.png" alt="Globe" class="p-0 mx-auto">
    </div>

    <div class="col">

        <p class="display-6 fw-bolder" style="color: #00224B;">Nonprofits</p>
        <p class="lead fw-bold">Why post your opportunities on VolunTEEN?</p>
        <p>We're glad you asked! Finding volunteers for your opportunities has never been simpler. Get your opportunity out there in just a few simple steps, so you can focus on what really matters!</p>

    </div>

</div>
