
@{
    ViewData["Title"] = "View";
}

<!--Hard coded opportunities for protoype-->
<div class="shadow-lg container-fluid p-lg-5">
    <div class="text-center" id="header">
        <h4>Viewing Opportunities</h4><hr />
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            ABC Opportunity 1
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>


    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Example Opportunity 2
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            BCA Cleanup donation bank 3
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Example Opportunity 4
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <div class="card text-dark m-3 bg-white">
        <div class="card-header font-weight-bold">
            Jacksonville Beach Clean up
        </div>
        <div class="card-body">
            <div id="location">
                <p class="font-italic">Jacksonville, Fl</p>
            </div>
            <div id="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Dates: 01/29/2021 - 05/29/2025</p>
            </div>
            <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
            <a class="btn btn-outline-warning btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Detailsfake">Details</a>
        </div>
        <div class="card-footer">
        </div>
    </div>

    <a class="btn btn-outline-secondary btn-rounded" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
