@model IEnumerable<VMS.Models.Opportunity>
@{
    ViewData["Title"] = "View";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<div class="container">
    @foreach (var item in Model)
    {
        <div class="card rounded m-5">
            <div class="card-body">
                <h5>@Html.DisplayFor(modelItem => item.opportunityName)</h5><hr />
                <p class="font-weight-light">@Html.DisplayFor(modelItem => item.location)</p>
                <p>@Html.DisplayFor(modelItem => item.description)</p>
                <a class="btn btn-outline-primary btn-rounded" asp-area="" asp-controller="Opportunities" asp-action="Apply">Apply</a>
                <a class="btn btn-outline-info btn-rounded" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </div>
        </div>
    }
    <a class="btn btn-outline-secondary btn-rounded" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
