
@{
    ViewData["Title"] = "Detailsfake";
}

<!--Hardcoded details for prototype-->
<div class="shadow-lg card">
    <div class="card-header">
        About this opportunity
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Opportunity Name
            </dt>
            <dd class="col-sm-10">
                Example opportunity
            </dd>
            <dt class="col-sm-2">
                Center
            </dt>
            <dd class="col-sm-10">
                Center of learning (example data)
            </dd>
            <dt class="col-sm-2">
                Date Posted
            </dt>
            <dd class="col-sm-10">
                01/29/2021
            </dd>
            <dt class="col-sm-2">
                Details
            </dt>
            <dd class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a class="btn btn-outline-primary" asp-action="Browse">Back to List</a>
    </div>
</div>