@model IEnumerable<VMS.Models.Application>
@{
    ViewData["Title"] = "Manage Applicants";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Manage Applicants</li>
</ol>

<h2>Manage Applicants for your Posted Opportunities</h2>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Volunteer Name</th>
                <th>Opportunity</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var application in Model)
            {
                <tr>
                    <td width="50%">
                        @application.volunteerName
                    </td>
                    <td width="50%">
                        @application.oppName
                    </td>
                    <td>
                        @if (application.status)
                        {
                            <form asp-action="ApproveApplicant">

                                <input type="submit" class="btn btn-danger" value="Deny" />
                                <input type="hidden" name="applicationID" value="@application.id" />
                            </form>
                        }

                        else
                        {
                            <form asp-action="ApproveApplicant">

                                <input type="submit" class="btn btn-primary" value="Approve" />
                                <input type="hidden" name="applicationID" value="@application.id" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>If you've posted an opportunity no volunteers have signed up yet, if you haven't or would like to edit an already posted opportunity click below to manage your opportunities.</p>
        <a class="btn btn-primary" asp-controller="Opportunities" asp-action="Index">Manage Opportunities</a>
    </div>
}