@model OpportunitiesListViewModel

@{
    ViewData["Title"] = "Your Archived Opportunities";
}

<style>
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Manage Archived</li>
</ol>
<h2 class="">@ViewData["Title"]</h2>
<!--Table-->
