@model IEnumerable<VMS.Models.Application>
@{
    ViewData["Title"] = "Your Opportunities";
}

<h2>Opportunities You've Signed Up For</h2>

@foreach (var application in Model)
{
    <div class="card">
        <div class="card-header">
            Opportunity Name: @application.oppName
        </div>
        <div class="card-body">
            <p>Location: @application.oppLocation</p>
            <p>Date: @application.oppDate</p>
            @if (!application.status)
            {
                <p class="text-danger">Not Yet Approved</p>
            }
            else
            {
                <p class="text-success">Approved</p>
            }

        </div>
    </div>

}

