@page
@model VMS.Areas.Identity.Pages.Account.Manage.Notifications.IndexModel
@{
    ViewData["Title"] = "Interests";
    ViewData["ActivePage"] = ManageNavPages.Interests;
}

<h4>Choose your interests, to be notified when opportunities are posted!</h4>

<form>

    @foreach (var interest in Model.Interests)
    {

        <label for="@interest.Id" class="btn btn-outline-primary">

            <input type="checkbox" class="btn-check" id="@interest.Id" checked="@interest.Selected" autocomplete="off" />

            @interest.Name

        </label>

    }
    <br />
    <input type="submit" id="saveChanges" value="Save Changes" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}